<div class="sidebar_plugin_shutdownprinter">
	<label class="checkbox">
		<input type="checkbox" data-bind="enable: loginState.isUser(), checked: shutdownprinterEnabled">
		{{ _('Shutdown Printer after print finishes') }}
	</label>
</div>
